div,p,h1,h2,body,ul,li,h3,h4,h5,i,b{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #383838;
	font-size: 100%;
    font-family: "microsoft yahei";
   	
	
}
a{
	text-decoration: none;
	color: #9D9D9D;
}
:root{
	background: #EDEDED;
}
.wbox{
	width: 1120px;
	margin: 0 auto;
}
/*load*/
#load{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #1B1B1B;
	z-index: 200;
	text-align: center;	
}
#load img{
	padding-top: 20%;
}
/**/
.header-f{
	width: 100%;
	height: 50px;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	/*opacity: 0;*/
}
.header{
	height: 36px;
	/*overflow: hidden;*/
	padding: 7px 0;
}
.h-left{
	background: url(../img/logo.png) no-repeat center center;
	background-size: contain;
	width: 36px;
	height: 36px;
	margin-left: 20px;
	float: left;
}
.h-right{
	float: right;
	overflow: hidden;
}
.h-right li{
	float: left;
	width: 80px;
	height: 100%;

}
.h-right a{
	font-size: 12px;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 36px;
	transition: all 0.5s linear;
}
.h-right a:hover{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
}
.h-right-2{
	width: 36px;
	height: 26px;
	padding-top: 10px;
	float: right;
	margin-right: 20px;
	display: none;
	position: relative;
	z-index: 20;
}
.h-caid{
	width: 36px;
	height: 26px;
	position: relative;
	z-index: 20;
}
.h-right-2 i{
	width: 20px;
	height: 3px;
	background: #CCCCCC;
	margin: 4px auto;
	display: block;
	
}
.h-right-3{
	position: absolute;
	top: 42px;
	right: -20px;
	z-index: 30;
	background: #000000;
	width: 300px;	
	display: none;
}
.h-right-3 li{
	border-bottom: 1px dashed #CCCCCC;
	text-align: center;
	line-height: 40px;
	height: 40px;
}
.h-right-3 li:first-child{
	border-top: 1px solid #CCCCCC;
}
.h-right-3 li:last-child{
	border: 0;
}
.h-right-3 li:hover a{
	color: #FFFFFF;
}
/*home*/
.home-f{
	position: relative;
	overflow: hidden;
	
}
.home{
	height: 100%;
	width: 100%;	
	position: relative;
}
.home li:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/banner-1.jpg) no-repeat center center;
	background-size:cover ;
	z-index: 30;
}
.home li:nth-child(2){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/banner-2.jpg) no-repeat center center;
	background-size:cover ;
	display: none;
}
.h-text{
	position: absolute;
	left: 140px;
	bottom: 150px;
	color: #fff;
}
.h-text h3{
	color: #FFFFFF;
	font-size: 36px;
	text-shadow: 5px 5px 5px #1E1E1E;
}
.h-text p{
	margin: 30px 0;
	line-height: 30px;
	color: #F0FFF0;
	font-weight: 400;
}
.liuxing{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/xing.png) no-repeat;
	z-index: 20;
	transition: all 2s linear;
	animation: xing 3s linear infinite alternate;
}
.liu{
	position: absolute;
	top: 50px;
	left: 30%;
	width: 100px;
	height: 100px;
	background: url(../img/liux.png) no-repeat;
	z-index: 20;
	animation: liu 3s linear infinite;
	
}
@keyframes liu{
	from{
		transform: translateY(-50px) translateX(-50px);
	}
	to{
		transform: translateY(800px) translateX(400px);
		
	}
}
@keyframes xing{
	from{
		opacity: 0.3;
	}
	to{
		opacity: 1;
	}
}
.h-text-two{
	position: absolute;
	left: 40%;
	top: 260px;
	color: #fff;
}
.h-text-two h3{
	color: #CCD3E0;
	font-size: 36px;
	text-shadow: 0 0 5px #000000;
}
.h-text-two p{
	margin: 30px 0;
	line-height: 20px;
	color: #5C5C5C;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 0 0 1px #FFFFFF;
}
.h-list{
	position: absolute;
	bottom: 20px;
	left: 45%;
	z-index: 100;
}
.h-list div{
	width: 60px;
	height: 5px;
	background: #FFFFFF;
	opacity: 0.1;
	float: left;
	margin-right: 10px;
}
.h-list .h-list-fir{
	opacity: 0.3;
	background: #000000;
}
/*about*/
.about-f{
	width: 100%;
	padding: 60px 0;
	overflow: hidden;
	
}
.about-title{
	width: 100%;

	
}
.about-title h2{
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	text-shadow: 0 0 5px #FFFFFF;
	margin-bottom: 10px;
	letter-spacing: 5px;
		opacity: 0;
}
.about-title h3{
	text-align: center;
	font-size: 20px;
	text-shadow: 0 0 5px #FFFFFF;
	font-weight: 100;
		opacity: 0;
}
.about-title h1{
	width: 60px;
	height: 1px;
	background: #CCCCCC;
	margin: 16px auto;
		opacity: 0;
}
.about-in{
	padding: 100px;
	padding-left: 100px;
	padding-right: 0;
	box-sizing: border-box;
	width: 50%;
	float: left;
}
.about-img{
	float: left;
	box-sizing: border-box;
	width: 50%;
}
.about-in h3{
	font-size: 16px;
	margin-bottom: 10px;
	color: #168BD8;
	letter-spacing: 2px;
	font-weight: 600;
}
.about-in p{
	font-size: 14px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	
}
.myimg{
	background: orchid;
	margin: 150px auto;
	margin-bottom: 0;
	width: 200px;
	height: 250px;
}
.about-img:after{
	content: "";
	display: block;
	clear: both;
}
/*works*/
.works-f{
	width: 100%;
	padding: 60px 0;
	padding-top: 0;
	overflow: hidden;

}
.work-in{
	text-align: center;
}
.works-f .box{
	box-sizing: border-box;
	height: 180px!important;
	border: 2px solid #CCCCCC;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 10px 40px;
	margin-top: 100px;
	display: inline-block;
	padding: 0!important;
	box-shadow: 0 0 10px #000000;
}
.box div{
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	color: #FFFFFF;
	font-weight: 700;
	transition: all 0.3s linear;
}
.box div:first-child{
	background-size: cover;
	background-repeat: no-repeat;
	
}
.box:hover div:first-child{
	transform: translateZ(100px);
}
.box div:nth-child(2){
	position: absolute;
	top: 0;
	left: -100%;
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	text-align: center;
}
.box:hover div:nth-child(2){
	transform: translateX(100%);
}
.box h3{
	margin-top:60px;
	margin-bottom: 10px;
	color: #FFFFFF;
	opacity: 0.6;
	font-size: 20px;
}
.box p{
	color: #FFFFFF;
}
/*can*/
.can-f{
	width: 100%;
	padding: 70px 0;

	background: #FFFFFF;
	overflow: visible;
}
.can-in{
	margin-top: 40px;
}	
.can-in ul{
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.can-in li{
	float: left;
	width: 25%;
	height: 50px;
	font-size: 16px;
}
@keyframes move{
	from{
		margin-left: 0;
	}
	to{
		margin-left: -1200px;
	}
}
.can-lunbo{
	width: 1200px;
	height: 120px;
	border: 2px solid #CCCCCC;
	margin: 20px auto;
	overflow: hidden;
	background: #FFFFFF;
}
.can-lunbo:hover ul{
	animation-play-state: paused;
}
.can-lunbo ul{
	width: 2400px;
	height: 120px;
	animation: move 20s infinite linear;
}
.can-lunbo ul li{
	box-sizing: border-box;
	width: 200px;
	height: 120px;
	text-align: center;
	line-height: 200px;
	font-size: 20px;
	float: left;
	border: 2px solid #CCCCCC;
}
.can-lunbo li:nth-child(1){
	background: url(../img/html.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(2){
	background: url(../img/css.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(3){
	background: url(../img/jq.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(4){
	background: url(../img/js.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(5){
	background: url(../img/node.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(6){
	background: url(../img/ph.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(7){
	background: url(../img/html.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(8){
	background: url(../img/css.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(9){
	background: url(../img/jq.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(10){
	background: url(../img/js.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(11){
	background: url(../img/node.jpg) no-repeat center;
	background-size:cover ;
}
.can-lunbo li:nth-child(12){
	background: url(../img/ph.jpg) no-repeat center;
	background-size:cover ;
}
/*cantact*/
.cantact-f{
	padding: 40px 0;
	width: 100%;
	background: #292929;
}
.cantact h2{
	font-size: 20px;
	color: #CCCCCC;
	font-weight: 700;
	text-align: center;
	
}
.cantact h1{
	width: 80%;
	height: 1px;
	background: #000000;
	margin: 16px auto;
}
.cantact p{
	text-align: left;
	padding: 8px 100px;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.3;
}
/*footer*/
.foot{
	text-align: center;
	padding: 20px 0;
	width: 100%;
	background: #000000;
	
}
/*back*/
.back{
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 2px solid #000000;
	position: fixed;
	bottom: 50px;
	right: 50px;
	font-size: 12px;
	display: none;
}
/*xiaoguo*/
@keyframes activetop{
	from{
		opacity: 0;
		transform: translateY(100px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
		
	}
}
.activetop{
	animation: activetop 1s 1 linear forwards;
}
/*响应式*/
@media only screen and (min-width:1200px ) {
	.container{
		width: 1120px;
	}
}
@media only screen and (max-width:1200px ) and (min-width:960px){
	.container{
		width: 960px;
	}
	.works-f .box{
		box-sizing: border-box;
		height: 180px!important;
		border: 2px solid #CCCCCC;
		position: relative;
		overflow: hidden;
		float: left;
		margin: 10px 38px;
		margin-top: 100px;
		display: inline-block;
		padding: 0!important;
		box-shadow: 0 0 10px #000000;
	}
}
@media only screen and (max-width:959px ) and (min-width:768px){
	.container{
		width: 768px;
	}
	.works-f .box{
		box-sizing: border-box;
		height: 120px!important;
		border: 2px solid #CCCCCC;
		position: relative;
		overflow: hidden;
		float: left;
		margin: 10px 26px;
		margin-top: 60px;
		display: inline-block;
		padding: 0!important;
		box-shadow: 0 0 10px #000000;
	}
	
}
@media only screen and (max-width:768px ) {
	.container{
		width:auto;
	}
	.works-f .box{
		box-sizing: border-box;
		height: 180px!important;
		border: 2px solid #CCCCCC;
		position: relative;
		overflow: hidden;
		float: left;
		margin-left: 0;
		margin-top: 60px;
		display: inline-block;
		padding: 0!important;
		box-shadow: 0 0 10px #000000;
	}
	.about-in{
		width: 100%;
	}
	.about-img{
		display: none;
	}
	.h-right{
		display: none;
	}
	.h-text-two{
		left: 24%;
	}
	.h-right-2{
		display: block;
	}
}
